/* Smartphones */
@media (max-width: 500px) {
    #showcase {
        margin-top: 0;
        height: 100vh;
    }
    #showcase .showcase-content {
        padding: 100px 20px;
    }
    #showcase .l-heading {
        line-height: 3rem;
    }
    .logo {
        display: flex;
        flex: 7;
    }
    #navbar {
        width: 500px;
        overflow: hidden;
        padding-left: 70px;
        padding-right: 70px;
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 100px;
    }

    #navbar .text-primary {
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
    }
    #navbar .logo {
        justify-content: center;
        padding-right: 50px;
    }
    #showcase ul li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }
    #navbar {
        height: 100px;
    }
    .logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #showcase ul {
        display: flex;
        /* flex-direction: row; */
    }

    /* what we do */
    #what {
        display: flex;
        flex-direction: row;
        height: 80vh;
        width: 500px;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }

    #what .items {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 500px;
        display: flex;
        margin-bottom: 50px;
    }
    #what p, h3 {
        text-align: left;
        justify-content: left;
    }
    #what .m-heading {
        text-align: center;
        padding-top: 20px;
    }
    #who {
        height: 30vh;
        padding-bottom: 0;
    }
    #who .list {
        display: flex;
        flex-direction: column;
    }
    #who .who-img {
        display: none;
        padding: 0;
    }
    #clients .items img {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        height: 60px;
        width: 60px;
        margin: 5px;
    }

    /* who we  */
    #who {
        height: 100vh;
        padding-top: 20px;
        display: flex;
        padding-top: 50px;
        padding: 20px 0;
    }
    #who p {
        padding-bottom: 35px;
    }
    #clients {
        height: 20vh;
        padding-top: 5px;
    }
}
